# Временные файлы сборки
build/
bin/
Intermediate/
*.vst3
*.exe
*.obj
*.pdb

# JUCE (если ты добавила его как сабмодуль, гит сам разберется)
# Если просто скачала папку — лучше её игнорировать и прописать путь в README
JUCE/

# Системный мусор VS Code и Visual Studio
.vscode/
.vs/
out/